/* Login_inputのデザイン */

body{
	background: linear-gradient(106deg, #6fad44, #34c2db);
	font-family: 'Helvetica Neue', sans-serif;
	padding-top: 3%;
}

/*白い枠*/
.all, .al{
    margin-left: 20%;
    margin-right: 20%;
	padding-top: 3%;
	text-align: center;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.29);
    margin-top: 5%;
}

/* form-groupの中央配置 */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* 子要素を中央に配置 */
    width: 80%; /* 親要素の幅を指定 */
    margin: 0 auto; /* 左右中央に配置 */
    padding: 20px 0; /* 上下のパディングを調整 */
}

/* 入力フィールドのスタイル */
.input-field {
    font: 18px/28px sans-serif; /* フォントサイズと行間を大きく設定 */
    box-sizing: border-box;
    width: 100%; /* フィールドの幅を最大に設定 */
    max-width: 400px; /* 最大幅を設定して大きすぎないようにする */
    padding: 1em; /* パディングを増やして入力エリアを広げる */
    margin-bottom: 24px;
    transition: 0.3s;
    letter-spacing: 1px;
    color: #000000;
    border: 2px solid #1b2538; /* ボーダーを太くして目立たせる */
    background: #f5f5f5; /* 背景色を変更して視認性を向上 */
    border-radius: 8px; /* ボーダーを少し丸くする */
}

.input-field:focus {
    border-color: #da3c41; /* フォーカス時のボーダーカラー */
    outline: none;
    background: #ffffff; /* フォーカス時の背景色 */
}



body{
	padding-top: 3%;
}

/*ボタンデザイン*/
.btn, .btn2, .btn3 {
	display: flex;
    justify-content: space-between;
    align-items: center;
	text-align: center;
	text-decoration: none;
	width: 200px;
	margin: auto;
    margin-top: 24px;
	margin-bottom: 24px;
	padding: 1rem 4rem;
	font-weight: bold;
	background: #eee;
	border-radius: 100vh;
	position: relative;
	transition: 0.5s;
}

.btn {
	color: #62d927;
}

.btn::before, .btn2::before, .btn3::before {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	right: 1em;
	transform: translateY(calc(-50% - 2px)) rotate(45deg);
	width: 10px;
	height: 1px;
}

.btn::after, .btn2::after, .btn3::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
	width: 50px;
	height: 1px;
}

.btn::before, .btn::after {
	background: #62d927;
}

.btn:hover {
	background: #e4f7d4;
	color: #62d927;
}

.btn2 {
	width: 270px;
	color: #d9d627;
}

.btn2::before, .btn2::after {
	background: #d9d627;
}

.btn2:hover {
	background: #f7f7d4;
	color: #d9d627;
}

/* Login_outputのデザイン */
body{
	margin: auto;
	text-align: center;
}

.btn3 {
	width: 270px;
	color: #275cd9;
}

.btn3::before, .btn3::after {
	background: #275cd9;
}

.btn3:hover {
	background: #d4d7f7;
	color: #275cd9;
}

img{
	border-radius: 10px;
}
