/* Login_inputのデザイン */

body{
	background: linear-gradient(106deg, #6fad44, #34c2db);
	font-family: 'Helvetica Neue', sans-serif;
}
/*白い枠*/
.all{
    margin-left:20%;
    margin-right:20%;
	padding-top: 3%;
	text-align: center;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.29);

}

.form-group {
    display:flex;
    flex-flow: column;
  }
  .content {
    padding:1em;
    margin:10%;
    width:50%;
  }

  /*textboxの装飾*/
  .form-group {
	display: flex;
	flex-flow: column;
	width: 80%;
	margin: 40px 3%;
	margin-top:20px;
  justify-content: center;
}
.form-group input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	margin-bottom:24px;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000000;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.content input[type='text']:focus {
	border-bottom: 2px solid #da3c41;   
	outline: none;
}
.form-group input[type='password'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	margin-bottom:24px;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000000;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.content input[type='password']:focus {
	border-bottom: 2px solid #da3c41;
	outline: none;
}
body{
	padding-top: 3%;
}

/*ボタンデザイン*/
.btn {
	display: flex;
    justify-content: space-between;
    align-items: center;
	text-align: center;
	text-decoration: none;
	width: 200px;
	margin: auto;
    margin-top:24px;
	margin-bottom:24px;
	padding: 1rem 4rem;
	font-weight: bold;
	background: #eee;
	color: #62d927;
	border-radius: 100vh;
	position: relative;
	transition: 0.5s;
}
.btn::before {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	right: 1em;
	transform: translateY(calc(-50% - 2px)) rotate(45deg);
	width: 10px;
	height: 1px;
	background: #62d927;
}
.btn::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
	width: 50px;
	height: 1px;
	background-color: #62d927;
}
.btn:hover {
	background: #e4f7d4;
	color: #62d927;
}

/* 新規登録用ボタンデザイン */
.btn2 {
	display: flex;
    justify-content: space-between;
    align-items: center;
	text-align: center;
	text-decoration: none;
	width: 270px;
	margin: auto;
	margin-bottom:24px;
	padding: 1rem 4rem;
	font-weight: bold;
	background: #eee;
	color: #d9d627;
	border-radius: 100vh;
	position: relative;
	transition: 0.5s;
}
.btn2::before {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	right: 1em;
	transform: translateY(calc(-50% - 2px)) rotate(45deg);
	width: 10px;
	height: 1px;
	background: #d9d627;
}
.btn2::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
	width: 50px;
	height: 1px;
	background-color: #d9d627;
}
.btn2:hover {
	background: #f7f7d4;
	color: #d9d627;
}

/* Login_outputのデザイン */

body{
	margin:auto;
	text-align: center;
}

.btn3 {
	display: flex;
    justify-content: space-between;
    align-items: center;
	text-align: center;
	text-decoration: none;
	width: 270px;
	margin: auto;
	margin-bottom:24px;
	padding: 1rem 4rem;
	font-weight: bold;
	background: #eee;
	color: #275cd9;
	border-radius: 100vh;
	position: relative;
	transition: 0.5s;
}
.btn3::before {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	right: 1em;
	transform: translateY(calc(-50% - 2px)) rotate(45deg);
	width: 10px;
	height: 1px;
	background: #275cd9;
}
.btn3::after{
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
	width: 50px;
	height: 1px;
	background-color: #275cd9;
}
.btn3:hover {
	background: #d4d7f7;
	color: #275cd9;
}
img{
	border-radius: 10px;
}