body{
	background: linear-gradient(106deg, #6fad44, #34c2db);
	font-family: 'Helvetica Neue', sans-serif;
}
.all{
    margin-left:20%;
    margin-right:20%;
    margin-top: 10%;
	text-align: center;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.29);

}
/*ボタンデザイン*/
.btn {
	/* display: flex;
    justify-content: space-between;
    align-items: center; */
	text-align: center;
	text-decoration: none;
	width: 200px;
	margin: auto;
    margin-top:24px;
	margin-bottom:24px;
	padding: 1rem 4rem;
	font-weight: bold;
	background: #eee;
	color: #62d927;
	border-radius: 100vh;
	position: relative;
	transition: 0.5s;
}
.btn::before {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	right: 1em;
	transform: translateY(calc(-50% - 2px)) rotate(45deg);
	width: 10px;
	height: 1px;
	background: #62d927;
}
.btn::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
	width: 50px;
	height: 1px;
	background-color: #62d927;
}
.btn:hover {
	background: #e4f7d4;
	color: #62d927;
}

/* ハンバーガーメニュー */
.header {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
  }
  .logo {
	padding-left: 14px;
  }
  .hamburger-menu {
	width: 50px;
	height: 50px;
	position: relative;
	border: none;
	background: transparent;
	appearance: none;
	padding: auto;
	cursor: pointer;
  }
  .hamburger-menu__bar {
	display: inline-block;
	width: 44%;
	height: 2px;
	background: #242424;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	transition: .5s;
  }
  .hamburger-menu__bar:first-child {
	top: 16px;
  }
  .hamburger-menu__bar:nth-child(2) {
	top: 24px;
  }
  .hamburger-menu__bar:last-child {
	top: 32px;
  }
  .hamburger-menu--open .hamburger-menu__bar {
	top: 50%;
  }
  .hamburger-menu--open .hamburger-menu__bar:first-child {
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .hamburger-menu--open .hamburger-menu__bar:last-child {
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
  .hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
	display: none;
  }
  .navigation {
	display: none;
	background: #242424;
	position: absolute;
	top: 50px;
	width: 100%;
	z-index: 9999;
  }
  .navigation__list {
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
  }
  .navigation__list-item {
	border-bottom: solid 1px #474747;
  }
  .navigation__list-item:first-child {
	border-top: solid 1px #474747;
  }
  .navigation__link {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	display: block;
	padding: 24px 8px;
	transition: .5s;
  }
  @media (hover: hover) and (pointer: fine) {
	.navigation__link:hover {
	  background: #333;
	}
  }
  .likeBn{
	margin-top:5%;
  }
img{
	border-radius: 10px;
}