.container {
  display: flex;
  justify-content: center; /* 中央に配置します */
  flex-wrap: wrap;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 1行に3つのカラムを設定 */
  gap: 10px; /* 画像の間に少し間隔を持たせる */
  width: 100%; /* 必要に応じて調整 */
  max-width: 1200px; /* 必要に応じて調整 */
}

.gallery-item {
  width: 100%; /* gridの設定に合わせるため100%に変更 */
  height: 200px; /* 固定高さを設定 */
  box-sizing: border-box;
  position: relative;
  overflow: hidden; /* これにより、画像が枠内に収まるようにします */
}

.gallery-item img {
  width: 100%;
  height: auto;
  object-fit: cover; /* 画像がコンテナに収まるようにします */
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* 半透明の黒 */
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px; /* オーバーレイのテキストに余白を追加 */
}

/* ハンバーガーメニュー */
.header {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
  }
  .logo {
	padding-left: 14px;
  }
  .hamburger-menu {
	width: 50px;
	height: 50px;
	position: relative;
	border: none;
	background: transparent;
	appearance: none;
	padding: auto;
	cursor: pointer;
  }
  .hamburger-menu__bar {
	display: inline-block;
	width: 44%;
	height: 2px;
	background: #242424;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	transition: .5s;
  }
  .hamburger-menu__bar:first-child {
	top: 16px;
  }
  .hamburger-menu__bar:nth-child(2) {
	top: 24px;
  }
  .hamburger-menu__bar:last-child {
	top: 32px;
  }
  .hamburger-menu--open .hamburger-menu__bar {
	top: 50%;
  }
  .hamburger-menu--open .hamburger-menu__bar:first-child {
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .hamburger-menu--open .hamburger-menu__bar:last-child {
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
  .hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
	display: none;
  }
  .navigation {
	display: none;
	background: #242424;
	position: absolute;
	top: 50px;
	width: 100%;
	z-index: 9999;
  }
  .navigation__list {
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
  }
  .navigation__list-item {
	border-bottom: solid 1px #474747;
  }
  .navigation__list-item:first-child {
	border-top: solid 1px #474747;
  }
  .navigation__link {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	display: block;
	padding: 24px 8px;
	transition: .5s;
  }
  @media (hover: hover) and (pointer: fine) {
	.navigation__link:hover {
	  background: #333;
	}
  }
  .likeBn{
	margin-top:5%;
  }