body{
    background: linear-gradient(106deg, #6fad44, #34c2db);
    font-family: 'Helvetica Neue', sans-serif;
}
.al{
    padding-bottom: 3%;
<<<<<<< HEAD
    padding-top: 3%;
    text-align: center;
=======
	padding-top: 3%;
    margin-top: 3%;
	text-align: center;
>>>>>>> 2ad09f78b0c864df40189d2715f13ecdb136c3bf
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.29);
}
.profile {
    display: flex;
    padding-left: 2%;
    align-items: center;
    margin-bottom: 15px;
}
.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 15px;
    border: 3px solid #000;
}
.profile h2 {
    margin: 0;
}
.container {
    display: flex;
<<<<<<< HEAD
    justify-content: center;
=======
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
>>>>>>> 2ad09f78b0c864df40189d2715f13ecdb136c3bf
    flex-wrap: wrap;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-top: 2%;
    margin-left:10%;
    margin-right:10%;
    text-align: center;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.29);
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 1200px;
}
.gallery-item {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.gallery-item:hover .overlay {
    opacity: 1;
}
.text {
    margin: 5px;
}
