body{
    background-color: aquamarine;
    }

/*白い枠*/
.all{
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.29);

}

.form-group {
    display:flex;
    flex-flow: column;
  }
  .content {
    padding:1em;
    margin:0.5em auto;
    width:50%;
  }

/*textboxの装飾*/
  .form-group {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.form-group input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.content input[type='text']:focus {
	border-bottom: 2px solid #da3c41;   
	outline: none;
}
.form-group input[type='password'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.content input[type='password']:focus {
	border-bottom: 2px solid #da3c41;
	outline: none;
}

/*ボタンデザイン*/
.btn {
    color: #000;
    background-color: #80f580;
    border-bottom: 5px solid #ccc100;
  }
  
  .btn:hover {
    margin-top: 3px;
    color: #000;
    background: #fff20a;
    border-bottom: 2px solid #ccc100;
  }