body{
    background-color: rgb(255, 255, 255);
    }

h1{
  text-align: center;
  margin-top:48px;
  margin-bottom: 48px;
  width: auto;
}

/*白い枠*/
.all{
    margin-left:10%;
    margin-right:10%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.29);

}

.form-group {
    display:flex;
    flex-flow: column;
  }
  .content {
    padding:1em;
    margin:0.5em auto;
    width:50%;
  }

/*textboxの装飾*/
  .form-group {
	display: flex;
  flex-flow: column;
	width: 80%;
	margin: 40px 3%;
  justify-content: center;
}
.form-group input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
  margin-bottom:48px;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.content input[type='text']:focus {
	border-bottom: 2px solid #da3c41;   
	outline: none;
}
.form-group input[type='password'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
  margin-bottom:48px;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.content input[type='password']:focus {
	border-bottom: 2px solid #da3c41;
	outline: none;
}

/*ボタンデザイン*/
.btn {
	display: flex;
    justify-content: space-between;
    align-items: center;
	text-align: center;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	background: #eee;
	color: #27acd9;
	border-radius: 100vh;
	position: relative;
	transition: 0.5s;
}
.btn::before {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	right: 1em;
	transform: translateY(calc(-50% - 2px)) rotate(45deg);
	width: 10px;
	height: 1px;
	background: #27acd9;
}
.btn::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
	width: 50px;
	height: 1px;
	background-color: #27acd9;
}
.btn:hover {
	background: #d4eef7;
	color: #27acd9;
}